
apiVersion: v1
kind: Service
metadata:
  name: my-backend
  labels:
    app: backend
spec:
  type: NodePort
  ports:
  - port: 8089
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: backend
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  selector:
    matchLabels:
      app: backend
  replicas: 1
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: tarankapoor/vrsn-backend:latest
        imagePullPolicy: Always
        resources: {}
        ports:
        - name: backend
          containerPort: 8089
          protocol: TCP
